*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(250, 235, 215);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px, 5px, 15px;
    width: 400px;
    border-radius: 5px;
}
.header{
    background-color: rgb(81, 59, 59);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}
.form{
    padding: 30px 40px;  
    background-color: beige;   
}
.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
}
.form-group input{
    border: 2px solid cornsilk;
    display: block;
    border-radius: 5px;
    font-size: .8rem;
    width:100%;
    padding: 10px;
}
.form input ::placeholder{
    color: rgb(147, 59, 59);
}
.form-group i{
    position: absolute;
    right: 10px;
    top : 35px;
    visibility: hidden;
}
.form span{
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    visibility: hidden;
}
.form-group.success input{
    border-color: rgb(84, 234, 82);

}
.form-group.error input{
    border-color: rgb(245, 53, 53);
}
.form-group.success i.ion-ios-checkmark{
         visibility: visible;
         color: rgb(84, 234, 82);
}
.form-group.error i.ion-android-alert{
    visibility: visible;
    color: rgb(245, 53, 53);
}
.form #submit{
background-color: brown;
border: none;
outline: none;
color: aliceblue;
width: 100%;
padding: 10px;
font-size: 1rem;
border-radius: 5px;
cursor: pointer;
transition: all .5s;
}
.form #submit:hover{
    background-color: rgb(92, 86, 86);
}

